<h1>Demo#index</h1>
<p>Hellow World!</p>

<%= 1+1 %>

<br/>

<% name = 'emad' %>
<%= "My name is #{name}" %>

<% 3.times do%>
    <%= '.'%>
<% end %>

<br/>

<% 3.times do |n| %>
    <%= n %> <br/>
<% end %>

<%= link_to('Hello', {action: 'hello'}) %>

<br/>

<%= link_to('Link with params', {action: 'hello', id: 2, page: 5}) %>

<br/>

<br/>

<%= link_to('Text Helpers', { action: 'text_helpers'}) %> <br>
<%= link_to('Numbers Helpers', { action: 'numbers_helpers'}) %> <br>
<%= link_to('DateTime Helpers', { action: 'dateTime_helpers'}) %> <br>
<%= link_to('Escaping Helpers', { action: 'escaping_helpers'}) %> <br>